@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');

.App {
  font-family: poppins;
  display: flex;
  flex-direction: column;
  width: 95%;
  padding: 0 15px;
  gap: 20px;
}

.title {
  font-weight: 700;
}

.slider {
  width: 100%;
}

.labels {
  display: flex;
  justify-content: space-between;
}